@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.card {
  .icon-container {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.new {
      i.material-icons {
        font-size: 36px;
        color: $success;

        &:hover {
          color: darken($success, 10%);
        }
      }
    }

    &.call {
      background-color: $success;
    }

    &.sms {
      background-color: $primary;
    }

    &.delete {
      background-color: $danger;
    }

    i.material-icons {
      font-size: 24px;
      color: $white;
      cursor: pointer;

      &:hover {
        color: darken($white, 10%);
      }
    }
  }
}